/* Content Container */
.wrap-content {
  padding: 50px 20px 0;
  background: #1f2028;
  border-radius: 30px 30px 0 0;
  margin-top: -50px;
  color: #bfc3d9;
}

/* Content Card */
.content-card {
  margin: 0 auto;
  padding: 16px 30px 30px;
  max-width: 960px;
}

.content-code {
  background: #2d303e;
  border-radius: 5px;
  padding: 12px 0 0;
}

.content-code__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.content-code__title {
  color: #ccc;
}

.content-code__btn {
  display: flex;
  align-items: center;
  gap: 7px;
  color: #ccc;
  font-size: 1.4rem;
}

.content-code__btn-icon {
  filter: invert(94%) sepia(0%) saturate(5202%) hue-rotate(314deg)
    brightness(97%) contrast(73%);
  width: 16px;
}

.content-card h2 {
  position: relative;
  font-size: 3.6rem;
  font-weight: 600;
  color: var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
  text-transform: capitalize;
  padding-bottom: 8px;
  margin-left: 100px !important;
}

.content-card h2::before {
  position: absolute;
  content: attr(data-title);
  bottom: -10px;
  left: -100px;
  font-size: 6.6rem;
}

.content-card h3 {
  font-size: 2.2rem;
  padding-left: 8px;
  color: #fff;
}

.content-card h3::before {
  content: "☞";
  padding-right: 8px;
}

.content-card p {
  line-height: 1.4;
  margin: 24px 0;
}

.list-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Content Custom */
.content-card a {
  color: var(--color-primary);
}

strong,
b {
  font-weight: 600;
}

ul,
ol {
  list-style: disc;
  padding-left: 40px;
  margin: 24px 0;
}

.content-card h1,
.content-card h2,
.content-card h3,
.content-card h4,
.content-card h5,
.content-card h6 {
  font-weight: 500;
  margin: 24px 0;
}

.content-card blockquote {
  background: #272935;
  padding: 8px 16px 8px 30px;
  margin: 24px 0;
  border-left: 5px solid #ccc;
}

.content-card ul,
.content-card ol {
  line-height: 1.5;
}

.content-card mark {
  padding: 3px 5px;
  border-radius: 3px;
}

/* CSS Responsive cho Mobile */
@media (max-width: 768px) {
  .content-card {
    padding: 16px 0 30px;
  }
}
